.underline-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.underline-hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.2em;
    width: 100%;
    background: currentColor;
    border-radius: 1em;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.1s ease-in-out;
}

.underline-hover:hover::after {
    transform: scaleX(1);
}
